<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS -->
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style/libs.css">
  <link rel="stylesheet" type="text/css" href="/assets/style/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/style/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/style/style.css">

  <!-- yangi linklar -->
  <link rel="stylesheet" href="/assets/style/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/style/owl.theme.default.min.css">
  <link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>



  <script src="https://kit.fontawesome.com/155f5721f0.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Project</title>
  <style>
  </style>
</head>
<body style="background-image: url('assets/img/back.jpg'); ">
<!-- Top navigation start -->
<nav class="pl-2 pr-2 top-navbar navbar pb-0 mb-0 navbar-expand navbar-light  ">
  <div class="container bg-white mb-0  border-right border-left border-top">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">O'zb</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ўзб</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Рус</a>
      </li>
      <li class="nav-item">
        <a class="nav-link special" href="#">Aa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/signup">
          <img src="assets/img/Fill_1.png" class="mr-1" width="20" alt=""><u>Авторизация</u>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- Top navigation end -->

<header >
  <div class="pl-2 pr-2 mt-0 bg-white border-bottom border-top border-left border-right container p-0">
    <div class="row py-3">
      <div class="col-md-1  col-sm-3 col-3 pr-2 pl-0">
        <img src="assets/img/logo.png" alt="">
      </div>
      <div class="col-md-3 col-sm-9 col-9 pt-2">
        <div class="mt-3">
          <a href="">
            <h5>
              Детская школа «Баркамол авлод» города Ташкента
            </h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main navbar -->
<nav style="font-size: 9px; " class="  navbar navbar-expand-lg navbar-light  main-navbar pt-0 pb-0 pl-2 pr-2">
  <div class="container bg-white pb-0 pt-0 pl-2 pr-2 border-right border-left">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav p-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Главная</a>
        </li>

        <!-- Dropdown svedeniya -->

        <li class="nav-item dropdown navbar-dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Сведения
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/about">О нас</a></li>
            <li><a class="dropdown-item" href="/history">История центра </a></li>
            <li><a class="dropdown-item" href="/contacts">Контакты </a></li>
            <li><a class="dropdown-item" href="/departments">Районные подразделения </a></li>

          </ul>
        </li>

        <!--  Dokumenti -->

        <li class="nav-item ">
          <a class="nav-link" href="/documents">Документы</a>
        </li>

        <!-- Dropdown Dlya vas -->

        <li class="nav-item dropdown navbar-dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Для Вас
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li><a class="dropdown-item" href="/course">Как записать ребёнка в кружок?</a></li>
            <li><a class="dropdown-item" href="/raspisaniya">Расписание </a></li>
          </ul>
        </li>

        <!--  Novosti -->
        <li class="nav-item ">
          <a class="nav-link" href="/news">Новости</a>
        </li>
        <!-- Dropdown -->

        <!-- Dropdown  O nas smi -->

        <li class="nav-item dropdown navbar-dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Галереи
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
            <li><a class="dropdown-item" href="/photogalery">Фотогалерея</a></li>
            <li><a class="dropdown-item" href="/allVideos">Видеотека </a></li>

          </ul>
        </li>


        <li class="nav-item ">
          <a class="nav-link" href="/map">Мы на карте города</a>
        </li>


      </ul>
      <form  th:action="@{/teacher/search}" method="get" class="form-inline search-box ml-auto my-lg-0">
        <input  type="text" id="search"  required name="keyword" placeholder="Педагок поиск" aria-label="Search">
        <button type="submit"  class="btn bg-light" >Search</button>
        <input type="button" class="btn bg-danger" value="Clear" id="btnClear" onclick="clearSearch()" />
      </form><br>

    </div>

  </div>

</nav>
  <!-- Main navbar end -->






<div class="container border bg-white">
	<div class="row">
		<div class="col-sm-12 h-auto">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.595435068542!2d69.28384201508769!3d41.339409879268594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b52e1cf4ac1%3A0x3982c8096d435c7b!2zMTA2INGD0LvQuNGG0LAg0JHQvtCz0LjRiNCw0LzQvtC7LCDQotCw0YjQutC10L3Rgiwg0KPQt9Cx0LXQutC40YHRgtCw0L0!5e0!3m2!1sru!2s!4v1578479878685!5m2!1sru!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>
	</div>
</div>
<div class="map" id="map">
  
</div>
<script>
  ymaps.ready(init);
  function (init){
    var map = new ymap.Map('map' , {
      center: []
    });
  }
</script>





    <footer>
      <div class="caption w-100"></div>
      <div class="footer-content w-100">
        <div class="container boder-bottom border-color-white">
          <div class="row">
            <div class="col-md-4">
              <h4><img src="assets/img/location.png" class="mr-2 mb-1" width="20" alt="">Наш адрес:</h4>
              <p>Город Ташкент, Мирзо Улугбекский район, проспект Мустакиллик, дом 69, 100000 
              </p>
            </div>
            <div class="col-md-4">
              <h4><img src="assets/img/mobile.png" class="mr-1 mb-1" width="15" alt=""> Контакты:</h4>
              <p>Телефон:(99871) 237-34-22 директор <br>(99871) 237-34-42 заместитель директора<br>(99871) 237-10-73 отдел духовности и просветительства <br> факс: (99871) 237-32-56  <br>e-mail: barkamol-avlod@inbox.uz</p>
            </div>
            <div class="col-md-4">
              <h4>Ижтимоий тармоқлар </h4>
              <div class="row">
                <a href="" class="social-btn mr-2"><img src="assets/img/Facebook_Icon.png" alt=""></a>
                <a href="" class="social-btn mr-2"><img src="assets/img/Twitter_Icon.png" alt=""></a>
                <a href="" class="social-btn"><img src="assets/img/ic_telegram_deactive.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
        <div class="container copyright border-top border-white pt-3">
          <div class="d-md-flex flex-row">
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <script type="text/javascript" src="/assets/js/libs.js"></script>
    <script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/additional.js"></script>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>


  </body>
</html>